<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Identification{% endblock %}</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"/>
    <meta name="robots" content="index, follow"/>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

{% block content %}
    {% form_theme form 'LaUserBundle:Form:Bootstrap/form_div_layout.html.twig' %}
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript" src="/track/tag.js"></script>
{% endblock %}

</body>

</html>