{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}
    {{ parent() }}{# l'appel du parent charge le form_theme #}
    {% include "LaUserBundle:ChangeEmail:changeEmail_content.html.twig" %}
{% endblock content %}
