<div>
    <h1>Changer mon email</h1>

    {% if app.session.flashbag.has('la_change_email_success') %}
        {% set flashMessage = app.session.flashbag.get('la_change_email_success')[0] %}
        {{ flashMessage|trans({}, 'messages') }}
    {% endif %}
    <form id="fos_user_change_email_form" name="fos_user_change_email_form" novalidate
          action="{{ path('la_user_profile_change_email') }}" {{ form_enctype(form) }}  method="post">
        {#{{ form_widget(form) }}#}

        <div>
            {{ form_row(form.email) }}
        </div>
        <div>
            {{ form_row(form.submit) }}
        </div>
        <div>
            <a href="{{ path('fos_user_profile_edit') }}"><span>&gt;&gt;</span>{{ 'la_user.form.change_email.return'|trans({}, 'forms') }}
                <span>&lt;&lt;</span></a>
        </div>
        {{ form_rest(form) }}
    </form>
</div>

