{% block subject %}
    Validez votre nouvel email
{% endblock %}
{% block body_text %}
    Bonjour,
    Vous recevez cet e-mail car vous venez de modifier votre email.
    Cliquez sur ce lien pour valider votre nouvel email : http://profile.sitename.tld/profile/change-email/confirm/{{ token }}{{ query }}
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}
{% block body_html %}
    Bonjour,
    Vous recevez cet e-mail car vous venez de modifier votre email.
    <a href ="http://profile.sitename.tld/profile/change-email/confirm/{{ token }}{{ query }}">Cliquez sur ce lien pour valider votre nouvel email</a>
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}