{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Informations Crm pour <em>{{ crm.email }}</em>
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Clef</th>
                            <th>Valeur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in crm %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value|trans({}, 'admin') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>


{% endblock content %}