{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Chercher un Email
{% endblock title %}

{% block content %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chercher un User par son email.
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form(form) }}
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <div class="col-lg-6">
        {{ session.history('Historique des emails', 'email', 'la_user_admin_crm', 10) }}
    </div>


{% endblock content %}