{% extends layout %}

{% block title %}Statistiques utilisateurs{% endblock title %}

{% block extra_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/bundles/lauser/css/stats.css"/>
{% endblock extra_stylesheets %}

{% block content %}
    {{ parent() }}
    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li><a href="#section-0" id="totals"
                       class="switchTabsButton icon-totals glyph-icon flaticon-arrow439"><span>Totaux</span></a></li>
                <li><a href="#section-1" id="definitions"
                       class="switchTabsButton icon-definition"><span>Indicateurs</span></a></li>
                <li><a href="#section-2" id="monthlyStatsChart"
                       class="switchTabsButton icon-users"><span>Mois</span></a></li>
                <li><a href="#section-3" id="yearlyStatsChart"
                       class="switchTabsButton icon-users"><span>Année</span></a></li>
                <li><a href="#section-4" id="monthlyNLStatsChart" class="switchTabsButton icon-nl"><span>Mois</span></a>
                </li>
                <li><a href="#section-5" id="yearlyNLStatsChart" class="switchTabsButton icon-nl"><span>Année</span></a>
                </li>
                <li><a href="#section-6" id="monthlyNLUnsubStatsChart"
                       class="switchTabsButton icon-nl-unsub"><span>Mois</span></a></li>
                <li><a href="#section-7" id="yearlyNLUnsubStatsChart"
                       class="switchTabsButton icon-nl-unsub"><span>Année</span></a></li>
            </ul>
        </nav>
        <div class="content">

            <section id="section-0">
                <div class="statsCanvas" id="totalsPage">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
            <section id="section-1">
                <div id="indicatorsDefinitions">
                    <span class="titleNewsLetters">Définition des indicateurs</span>
                    <dl>
                        <dt>Populations suivies:</dt>
                        <dd>
                            <dl>
                                <dt>Emails:</dt>
                                <dd>Clients ayant donné donné une adresse email de contact (inscrits à une NL par
                                    exemple ou dans le cadre d’un autre service ou qui ont créé un compte sur le site en
                                    remplissant le formulaire d’inscription…).
                                </dd>
                                <dt>Comptes clients:</dt>
                                <dd>Clients ayant créé un compte sur le site, en remplissant le formulaire d’inscription
                                    (users) ; ils ont pu utiliser leur compte Facebook ou Google.
                                </dd>
                                <dt>Facebook:</dt>
                                <dd>Clients ayant créé un compte via FB Connect (Ou s'étant identifié au moins une fois
                                    via FB Connect depuis leur inscription).
                                </dd>
                                <dt>Google+:</dt>
                                <dd>Clients ayant créé un compte via Google Connect (Ou s'étant identifié au moins une
                                    fois via Google Connect depuis leur inscription).
                                </dd>
                                <dt>Inscrits newsletters et emailing:</dt>
                                <dd>Inscriptions aux Newsletters, les opt-ins (marque et partenaires) et inscriptions à
                                    des alertes.
                                </dd>
                            </dl>
                        </dd>
                        <dt>Total emails:</dt>
                        <dd>Il s’agit d’inscrits uniques (un compte créé, inscrit à une newsletter est compté une seule
                            fois ; un inscrit à plusieurs newsletters est compté une fois seulement ; si un client
                            inscrit uniquement à une newsletter se désabonne, il est décrémenté)
                        </dd>
                    </dl>
                </div>
            </section>
            <section id="section-2">
                <div class="statsCanvas" id="monthlyStatsContainer">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
            <section id="section-3">
                <div class="statsCanvas" id="yearlyStatsContainer">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
            <section id="section-4">
                <div class="statsCanvas" id="monthlyNewsLetterContainer">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
            <section id="section-5">
                <div class="statsCanvas" id="yearlyNewsLetterContainer">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
            <section id="section-6">
                <div class="statsCanvas" id="monthlyNewsLetterUnsubContainer">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
            <section id="section-7">
                <div class="statsCanvas" id="yearlyNewsLetterUnsubContainer">
                    <p>Données non disponibles</p>
                    <!-- Stats details chart goes here... -->
                </div>
            </section>
        </div>
        <!-- /content -->
    </div><!-- /tabs -->
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        var url_stats_prefix = '/admin/stats';
    </script>
    {{ parent() }}
    <script type="text/javascript" src="/bundles/lauser/js/la.stats.user.js"></script>
{% endblock %}