{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    {{ users|length }}</em> User{% if users|length > 1 %}s{% endif %} à activer
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Date d'inscription</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>Activation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.created|date('d/m/Y à H:i:s') }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td><a class="btn btn-block  btn-danger"
                                       href="{{ path('la_user_admin_user_enable', {username:user.username, from:'unconfirmed'}) }}">Activer
                                        le user</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>

        </div>
    </div>





{% endblock content %}