{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Informations User pour <em>{{ user.email }}</em>
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Clef</th>
                            <th>Valeur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in user %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value|trans({}, 'admin') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>

            <div class="col-lg-6">
                {{ session.history('Historique des users', 'user', 'la_user_admin_user', 10) }}
            </div>
        </div>
    </div>

    {% if user.enabled == 0 %}
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    {{ alert.danger('Ce user n\'a pas encore vaildé sont compte ! ' ) }}
                    <a class="btn btn-block  btn-danger"
                       href="{{ path('la_user_admin_user_enable', {username:user.username}) }}">Activer le
                        user</a>
                </div>
            </div>
        </div>


    {% endif %}





{% endblock content %}