{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}

    {% set queryParams = app.request.query.all %}

    {% if app.session.get('la_user.context')  is defined %}
        {% set context = app.session.get('la_user.context') %}
    {% else %}
        {% set context = null %}
    {% endif %}

    <div class="connection clearfix{% if context != 'modal' %} nomodal{% endif %}">


        <p>{{ 'la_user.form.login.label'|trans({}, 'forms') }}</p>

        <form id="lauser_login" novalidate action="{{ path("fos_user_security_check") }}" method="post"
              class="jqtransform">

            <div class="control-group">
                <label class="control-label" for="username">{{ 'la_user.form.login.email'|trans({}, 'forms') }}</label>

                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                           required="required"/><span class="required">*</span>
                    {% if error %}
                        <span class="help-inline">{{ error|trans({}, 'LaUserBundle') }}</span>
                    {% endif %}
                </div>

            </div>

            <div class="control-group">
                <label class="control-label"
                       for="password">{{ 'la_user.form.login.password'|trans({}, 'forms') }}</label>

                <div class="controls">
                    <input type="password" id="password" name="_password" required="required"/><span
                            class="required">*</span>
                </div>

            </div>

            <button class='btn black-btn' type="submit" id="_submit"
                    name="_submit">{{ 'la_user.form.submit.login'|trans({}, 'forms') }}</button>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="clear"></div>
        </form>

        <p class="required">* Tous les champs sont obligatoires</p>
    </div>
    <div class="clear"></div>
    <div class="create-account">
        <p>Pas encore inscrit(e) ?</p>
        <a href="{{ path("fos_user_registration_register") }}" class="blue-btn">&gt; Je crée mon compte &lt; </a>
    </div>

    {{ render(controller('LaUserBundle:Resetting:request')) }}


    </div>
{% endblock content %}

