{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}
<p>
{{ 'la_user.reset_password.check_email'|trans({'%email%': email}) }}
</p>
<a class='btn' href="{{ path('fos_user_security_login') }}">{{ 'la_user.reset_password.return'|trans() }}</a>
{% endblock %}
