{% block subject %}
    Votre mot de passe sur {nom du site}
{% endblock %}
{% block body_text %}
    Bonjour,
    Vous recevez cet email car vous avez oublié votre mot de passe.
    Cliquez ici pour réinitialiser votre mot de passe : http://profile.sitename.tld/resetting/reset/{{ token }}{{ query }}
    À très bientôt,
    Toute l'équipe de {nom du site}.
{% endblock %}
{% block body_html %}
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        {logo du site}
                    </tr>
                    <tr>
                        <td height="2" align="center" valign="middle" bgcolor="#163762"><img
                                    src="http://cdn1-elle.ladmedia.fr/design/elle2/images/mail/pix_line.gif" width="2"
                                    height="2"/></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle"><br/>
                            <br/>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center">
                                        <font face="Georgia"><strong> Bonjour,</strong></font><br/>
                                        <br/></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <font face="Georgia">Vous recevez cet email car vous avez oublié votre mot de
                                            passe.</font><br/>
                                        <br/>
                                        <br/></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <font face="Georgia"><u>Cliquez ici pour réinitialiser votre mot de passe : </u>
                                            <a href="http://profile.sitename.tld/resetting/reset/{{ token }}{{ query }}"><font
                                                        color="#00CCFF">Modifier mon mot de passe</font></a></font><br/>
                                        <br/>
                                        <br/></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <font face="Georgia"><strong> À très bientôt.<br/><br />
                                                Toute l'équipe de {nom du site}.</strong></font></td>
                                </tr>
                            </table>
                            <br/>
                            <br/></td>
                    </tr>
                    <tr>
                        <td height="2" align="center" valign="middle" bgcolor="#163762"><img
                                    src="http://cdn1-elle.ladmedia.fr/design/elle2/images/mail/pix_line.gif" width="2"
                                    height="2"/></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{% endblock %}
