{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}
    <div>
        <div>
            <div>
                <p>404 Page introuvable</p>
            </div>

            <p><span>Le lien que vous avez suivi</span> n'existe pas !</p>

        </div>
    </div>

{% endblock content %}
