{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}
<p>{{ 'la_user.form.reset_password.already_requested'|trans({}, 'forms') }}</p>
    <form novalidate action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <input type='submit' class='btn' value='{{ 'la_user.form.reset_password.resend_request'|trans({}, 'forms') }}' />
    </form>
<a class='btn' href="{{ path('fos_user_security_login') }}">{{ 'la_user.reset_password.return'|trans() }}</a>
{% endblock content %}
