<div class="forgot-password">

    <p>{{ 'la_user.form.reset_password.label'|trans({}, 'forms') }}</p>

    <form novalidate id="lauser_forgetpassword" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <div class="control-group ">
            {% if app.session.flashbag.has('la_reset_password_success') %}
                <span class="help-inline information">
                    {% set flashMessage = app.session.flashbag.get('la_reset_password_success')[0] %}
                    {{ flashMessage|trans({}, 'messages') }}
                </span>
            {% else %}
            <label class="control-label"
                   for="inputEmail">{{ 'la_user.form.reset_password.sublabel'|trans({}, 'forms') }}</label>

            <div class="controls">
                    <input type="text" id="inputEmail" name="username"
                           value="{% if reset_password_email is defined %}
                           {{ reset_password_email }}
                           {% endif %}"
                           placeholder="{{ 'la_user.form.reset_password.username_or_email'|trans({}, 'forms') }}"
                           required="required"/>
                    <button type="submit"
                            class="btn black-btn">{{ 'la_user.form.submit.reset_password'|trans({}, 'forms') }}</button>
                    <span class="help-inline">
                        {% if app.session.flashbag.has('la_reset_password_error') %}
                            {% set flashMessage = app.session.flashbag.get('la_reset_password_error')[0] %}
                            {{ flashMessage|trans({}, 'validators') }}
                        {% endif %}
                    </span>
                {% endif %}
            </div>
        </div>
    </form>

</div>