{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}
    <div>
        <div>
            <div>
                <p>Validation de votre inscription ! </p>
            </div>

            <p><span>Votre inscription a bien été prise en compte :</span> pour la finaliser, validez l'email de confirmation que nous venons de vous envoyer à l'adresse {{ user.email }}</p>

        </div>
    </div>

{% endblock content %}
