{% extends "LaUserBundle::layout.html.twig" %}

{% block content %}
    <div>
        <div>
            <div>
                <p>Inscription validée ! </p>
            </div>

            <p><span>Bienvenue {{ user.username }},</span>Vous faites désormais partie de la communauté !</p>
            {% if app.request.query.get('redirect_url') is not null %}
                <p><a href="{{ app.request.query.get('redirect_url') }}">Retour</a></p>
            {% elseif app.session is defined  and app.session.get('la_user.redirect_urls') is defined %}
                <p><a href="{{ app.session.get('la_user.redirect_urls') }}">Retour</a></p>
            {% endif %}

        </div>
    </div>

{% endblock content %}
