{% block subject %}
    Validez votre inscription
{% endblock %}
{% block body_text %}
    Bonjour,
    Vous recevez cet e-mail car vous venez de vous inscrire.
    Cliquez sur ce lien pour valider votre inscription : http://profile.sitename.tld/register/confirm/{{ token }}{{ query }}
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}
{% block body_html %}
    Bonjour,
    Vous recevez cet e-mail car vous venez de vous inscrire.
    <a href ="http://profile.sitename.tld/register/confirm/{{ token }}{{ query }}">Cliquez sur ce lien pour valider votre inscription</a>
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}