{% block subject %}
    Plus qu'un jour pour valider votre inscription !
{% endblock %}
{% block body_text %}
    Bonjour,
    Vous recevez cet e-mail car vous vn'avez toujours pas validé votre inscription.
    Cliquez sur ce lien pour y remédier : http://profile.sitename.tld/register/confirm/{{ token }}{{ query }}
    Attention : Demain, il sera trop tard !
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}
{% block body_html %}
    Bonjour,
    Vous recevez cet e-mail car vous vn'avez toujours pas validé votre inscription.
    <a href="http://profile.sitename.tld/register/confirm/{{ token }}{{ query }}">Cliquez sur ce lien pour y remédier</a>
    Attention : Demain, il sera trop tard !
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}
