{% block from %}noreply@identification_test.fr{% endblock %}

{% block subject %}
    Bienvenue, {{ username }} !
{% endblock %}

{% block body_text %}
    Bonjour,
    Vous faites à présent partie de la communauté !
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}

{% block body_html %}
    Bonjour,
    Vous faites à présent partie de la communauté !
    À très bientôt,
    Toute l'équipe du site.
{% endblock %}