<div>
    <h1>{{ 'la_user.form.delete.label'|trans({}, 'forms') }}</h1>
    {% if error is defined %}
        <span class="error">Suppression impossible. Contactez l'assistance s'il vous plait.</span>
    {% endif %}
    <form id="la_user_delete_form" name="la_user_delete_form" novalidate action="{{ path('la_user_profile_delete') }}" method="post">
        <p>Vous êtes sur le point de supprimer DEFINITIVEMENT votre compte.</p>

        <p>En cliquant sur ce bouton, vous confirmez cette suppression :</p>

        <p><input type="submit" value="Oui"/></p>

        <div>
            <a href="{{ path('fos_user_profile_edit') }}"><span>&gt;&gt;</span>{{ 'la_user.form.delete.return'|trans({}, 'forms') }}
                <span>&lt;&lt;</span></a>
        </div>
    </form>
</div>

