<span class="help-inline information">
        {% if app.session.flashbag.has('la_change_email_complete') %}
            {% set flashMessage = app.session.flashbag.get('la_change_email_complete')[0] %}
            {{ flashMessage|trans({}, 'messages') }}
        {% endif %}
    </span>
<form id="fos_user_profile_form" name="fos_user_profile_form" novalidate
      action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="post"
      class="jqtransform">


    {% if form.changepw is defined %}
        <label class="control-label">Votre mot de passe :</label>
        {{ form_row(form.changepw) }}
    {% endif %}

    {% if form.changeemail is defined %}
        <label class="control-label">Votre email :</label>
        {{ form_row(form.changeemail) }}
    {% endif %}

    {{ form_rest(form) }}
</form>


