<html>
<head>
    <script type="text/javascript">
        {% if redirect_url  is defined  %}
        {*  http://dev.demo.ladtech.fr/login?redirect_url=http%3A%2F%2Ftest.demo.ladtech.fr%2Fadmin%2F%3Flauser_token%3D *}
        {% autoescape %}
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) != -1) return c.substring(name.length,c.length);
            }
            return "";
        }



        var redirect_url = '{{ redirect_url }}';

        if(redirect_url.indexOf('lauser_token=') !== false){
            redirect_url = redirect_url.replace('lauser_token=','lauser_token='.concat(getCookie('lauser_token')));
        }
        window.top.location.href = redirect_url;

        {% endautoescape %}
        {% elseif callback  is defined  %}
        {% autoescape %}
        if (typeof parent.{% endautoescape %}{{ callback }}{% autoescape %} == 'function') {
            {% endautoescape %}
            {% if data  is defined  %}
            {% autoescape %}
            //alert('callback vers  {% endautoescape %}{{ callback }}{% autoescape %} avec data={% endautoescape %}{{ data }}{% autoescape %}');
            parent.{% endautoescape %}{{ callback }}{% autoescape %}('{% endautoescape %}{{ data }}{% autoescape %}');
            {% endautoescape %}
            {%  else %}
            {% autoescape %}
            //alert('callback vers {% endautoescape %}{{ callback }}{% autoescape %} sans data');
            parent.{% endautoescape %}{{ callback }}{% autoescape %}();
            {% endautoescape %}
            {% endif %}
            {% autoescape %}
        } else if (typeof console != 'undefined' && typeof console.log != 'undefined') {
            console.log('undefined callback: {% endautoescape %}{{ callback }}{% autoescape %}')
        }

        {% endautoescape %}
        {% else %}

        {% endif %}
    </script>
</head>
<body></body>
</html>