.tabs nav #monthlyStatsChart span,
.tabs nav #monthlyNLStatsChart span,
.tabs nav #monthlyNLUnsubStatsChart span,
.tabs nav #monthlyStatsChart:before,
.tabs nav #monthlyNLStatsChart:before,
.tabs nav #monthlyNLUnsubStatsChart:before {
    color: rgb(48, 171, 224);
}

.tabs nav #monthlyStatsChart:hover span,
.tabs nav #monthlyNLStatsChart:hover span,
.tabs nav #monthlyNLUnsubStatsChart:hover span,
.tabs nav #monthlyStatsChart:hover:before,
.tabs nav #monthlyNLStatsChart:hover:before,
.tabs nav #monthlyNLUnsubStatsChart:hover:before {
    color: rgb(34, 149, 201);
}

.tabs nav #yearlyStatsChart span,
.tabs nav #yearlyNLStatsChart span,
.tabs nav #yearlyNLUnsubStatsChart span,
.tabs nav #yearlyStatsChart:before,
.tabs nav #yearlyNLStatsChart:before,
.tabs nav #yearlyNLUnsubStatsChart:before {
    color: rgb(102, 200, 141);
}

.tabs nav #yearlyStatsChart:hover span,
.tabs nav #yearlyNLStatsChart:hover span,
.tabs nav #yearlyNLUnsubStatsChart:hover span,
.tabs nav #yearlyStatsChart:hover:before,
.tabs nav #yearlyNLStatsChart:hover:before,
.tabs nav #yearlyNLUnsubStatsChart:hover:before {
    color: rgb(80, 180, 120);
}

.tabs nav #definitions span,
.tabs nav #definitions:before {
    color: #963636;
}

.tabs nav #definitions:hover span,
.tabs nav #definitions:hover:before {
    color: #BB0000;
}

.tabs nav .tab-current #monthlyStatsChart span,
.tabs nav .tab-current #monthlyNLStatsChart span,
.tabs nav .tab-current #monthlyNLUnsubStatsChart span,
.tabs nav .tab-current #monthlyStatsChart:before,
.tabs nav .tab-current #monthlyNLStatsChart:before,
.tabs nav .tab-current #monthlyNLUnsubStatsChart:before,
.tabs nav .tab-current #yearlyStatsChart span,
.tabs nav .tab-current #yearlyNLStatsChart span,
.tabs nav .tab-current #yearlyNLUnsubStatsChart span,
.tabs nav .tab-current #definitions span,
.tabs nav .tab-current #definitions:before,
.tabs nav .tab-current #yearlyStatsChart:before,
.tabs nav .tab-current #yearlyNLStatsChart:before,
.tabs nav .tab-current #yearlyNLUnsubStatsChart:before {
    color: rgb(242, 174, 67);
}

.icon-totals:before {
    font-family: "Flaticon";
    content: "\e08c";
}

.icon-users {
    color: rgb(48, 171, 224);
}

.icon-definition:before {
    font-family: "Flaticon";
    content: "\e064";
}

.icon-users:before {
    font-family: "Flaticon";
    content: "\e004";
}

.icon-nl:before {
    font-family: "Flaticon";
    content: "\e04b";
}

.icon-nl-unsub:before {
    font-family: "Flaticon";
    content: "\2709";
}

/*#indicatorsDefinitions .titleNewsLetters,*/
#indicatorsDefinitions dt{
    color: rgb(242, 174, 67);
}

#indicatorsDefinitions dd dt {
    color: #47a3da;
    margin-top:10px;
}

#indicatorsDefinitions dd {
    margin-top:10px;
    color: #768e9d;
}

/*   PAGE TOTAUX 	*/
#totalsPage {
    font-size: 0;
    padding: 0;
}

.totalBlock {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 2.5% 30px;
    padding: 10px 0;
    color: #eee;
}

.totalBlock span {
    display: block;
    text-align: center;
    line-height: 28px;
}

#totalBlockCRM {
    background-color: #2f7ed8;
}

#totalBlockUsers {
    background-color: #0d233a;
}

#totalBlockFB {
    background-color: #8bbc21;
}

#totalBlockGPlus {
    background-color: #910000;
}

.titleNewsLetters {
    display: block;
    font-size: 24px;
    margin: 0 1.6%;
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    font-style: italic;
    font-size: 12px;
    margin-top: -10px;
}

#totalsPage ul {
    list-style-type: none;
    color: #768e9d;
    margin: 30px 1.6%;
    padding: 0;
}

#totalsPage ul li {
    font-size: 0;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
}

#totalsPage ul li span {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    width: 50%;
    max-width: 50%;
    padding: 5px 1.6%;
}

#totalsPage ul li span.nlNumber {
    font-size: 16px;
}