<html>

<head>
    <title>Demo</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"/>
    <meta name="robots" content="index, follow"/>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" />
    <style type="text/css">

            /* IFRAMES */
        .iframe {
            width: 535px;
            /* +2px de border*/
            height: 650px;
            border-radius: 0;
            background-color: transparent;
        }

        .modal {
            box-shadow: none;
            border: none;
        }

            /** FIN IFRAMES **/

        .btn {
            display: inline-block !important;
            width: auto !important;
        }

    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.min.js"></script>
    <script src="/bundles/lauser/js/jquery.la.identification.js"></script>
    <script>
        function go(target, loc) {
            document.getElementById(target).src = loc;
        }
    </script>

    <script type="text/javascript">
        var
                tmp,
                host = window.location.host;
        tmp = host.split('.');
        tmp = tmp[tmp.length - 2].concat('.', tmp[tmp.length - 1]);
        document.domain = tmp;
    </script>

</head>

<body>

<!-- Modal -->
<div id="userModal" class="modal hide fade iframe" tabindex="-1">
    <iframe id='iframe_modal' width="100%" height="100%" src='' frameborder="0" scrolling="no"></iframe>
</div>

<ul class='inline' style="margin:10px 0px 10px 10px; ">
    <li>IFRAME :</li>
    <li><a class='btn btn-info' href='{{ path('fos_user_security_login') }}' target='iframe_users'>Login</a></li>
    <li><a class='btn btn-info' href='{{ path('fos_user_security_login') }}?callback=alert&data=1234' target='iframe_users'>Login (callback)</a>
    </li>
    <li><a class='btn btn-info' href='{{ path('fos_user_security_login') }}?redirect_url=http://www.elle.fr' target='iframe_users'>Login
            (redirect)</a></li>

    <li><a class='btn btn-info' href='{{ path('fos_user_profile_edit') }}' target='iframe_users'>Profile/Edit</a></li>
    <li><a class='btn btn-info' href='{{ path('fos_user_registration_register') }}' target='iframe_users'>Register</a></li>
    <li><a class='btn btn-info' href='{{ path('fos_user_security_logout') }}' target='iframe_users'>Logout</a></li>
    <li>
        <form name="impersonate" id="input" style="margin:0;">
            <div class="input-append" style="margin:0;">
                <input class="span2" style="height: 30px;" type="text" name="user" id="user"/>
                <input class="btn btn-info" type="button" value="Impersonate User"
                       onclick="go('iframe_users','{{ path('fos_user_profile_edit') }}?_switch_user=' + document.impersonate.user.value);"/>
                <input class="btn btn-inverse" type="button" value="Exit Impersonation"
                       onclick="go('iframe_users','{{ path('fos_user_profile_edit') }}?_switch_user=_exit');"/>
            </div>
        </form>
    </li>
</ul>
<ul class='inline' style="margin:10px 0px 10px 10px; ">
    <li>MODAL&nbsp; :</li>
    <li><a class='btn btn-info' href='#userModal' role="button" data-toggle="modal"
           onclick="go('iframe_modal','{{ path('fos_user_security_login') }}?context=modal');">Login</a></li>
    <li><a class='btn btn-info' href='#userModal' role="button" data-toggle="modal"
           onclick="go('iframe_modal','{{ path('fos_user_security_login') }}?context=modal&callback=alert&data=1234');">Login (callback)</a></li>
    <li><a class='btn btn-info' href='#userModal' role="button" data-toggle="modal"
           onclick="go('iframe_modal','{{ path('fos_user_security_login') }}?context=modal&redirect_url=http://www.elle.fr');">Login (redirect)</a></li>
    <li><a class='btn btn-info' href='#userModal' role="button" data-toggle="modal"
           onclick="go('iframe_modal','{{ path('fos_user_profile_edit') }}?context=modal');">Profile/Edit</a></li>
    <li><a class='btn btn-info' href='#userModal' role="button" data-toggle="modal"
           onclick="go('iframe_modal','{{ path('fos_user_registration_register') }}');">Register</a></li>
</ul>

<iframe id='iframe_users' width="100%" height="100%" src='{{ path('fos_user_profile_edit') }}' frameborder="0"></iframe>


</body>

</html>