(function () {
    "use strict";
    /*global document, window, console, XMLHttpRequest, JSON */

    function utCreateCookie(name, value) {
        var date, expires, minutes = parseInt('{{ cookie_expire }}', 10);
        date = new Date();
        date.setTime(date.getTime() + (minutes * 60 * 1000));
        expires = "; expires=".concat(date.toGMTString());
        document.cookie = name.concat('=', value, expires, '; path=/;domain=.', '{{ domain }}');
    }

    function utReadCookie(name) {
        var nameEQ, ca, i, c;
        nameEQ = name.concat('=');
        ca = document.cookie.split(';');
        for (i = 0; i < ca.length; i += 1) {
            c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1, c.length);
            }
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length, c.length);
            }
        }
        return null;
    }

    function sendUserTracking() {
        var data, token, id, utImg,
            cookie_name = '{{ cookie_name }}',
            cookie_token = '{{ cookie_token }}';

        data = utReadCookie(cookie_name);
        token = utReadCookie(cookie_token);
        if (data === null && token !== null) {
            data = Date.now();
            utImg = document.createElement("img");
            utImg.src = '{{ url("lauser_track_image") }}'.concat('?t=', data);
        }
        utCreateCookie(cookie_name, data);
    }

    sendUserTracking();

}());