<div>
    <h1>Mon Mot de Passe</h1>

    <form id="fos_user_change_password_form" name="fos_user_change_password_form" novalidate
          action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }}  method="post">
        {#{{ form_widget(form) }}#}

        <div>
            {{ form_row(form.current_password) }}
        </div>
        <div>
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div>
            {{ form_row(form.plainPassword.second) }}
        </div>
        <div>
            {{ form_row(form.submit) }}
        </div>
        <div>
            <a href="{{ path('fos_user_profile_edit') }}"><span>&gt;&gt;</span>{{ 'la_user.form.change_password.return'|trans({}, 'forms') }}
                <span>&lt;&lt;</span></a>
        </div>
        {{ form_rest(form) }}
    </form>
</div>

